<h3 class="text-center"><%= @lesson.name %></h3>
<%= react_component("Attendance", { lesson: @lesson }) %>

<br>

<div class="table-responsive">
  <table class="table">
    <tr>
      <td>STT</td>
      <td>Name</td>
      <td>Time</td>
    </tr>
    <% @attendances.each_with_index do |attendance, index| %>
      <tr>
        <td>
          <%= index + 1 %>
        </td>
        <td>
          <%= attendance.student.name %>
        </td>
        <td>
          <%= attendance.created_at.to_date %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
